body {
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: linear-gradient(#193441, #D1DBBD);
	background-repeat: no-repeat;
}

.text {
	width: 260px;
	height: 85px;
	margin: 0 auto;
	margin-top: 50px;
}

.weather {
	z-index: 150;
	width: 200px;
	height: 40px;
	display: inline-block;
	font-size: 18px;
	color: #FCFFF5;
	font-family: Arial Black, sans-serif;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.temperature {
	z-index: 150;
	width: 105px;
	height: 40px;
	display: inline-block;
	font-size: 24px;
	color: #FCFFF5;
	font-family: Arial Black, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.input{
	height: 40px;
	margin-top: 10vh;
}

.currentLocation{
	display: inline;
}

.currentCity{
	width: 350px;
	height: 35px;
	padding-left: 0.75em;
	background-position: center;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #3E606F;
	background-color: #FCFFF5;
	border: none;
	border-radius: 3px;
	text-transform: capitalize;
}

.currentCity:focus{
	outline: none;
}

.currentState{
	height: 39px;
	font-size: 12px;
	position: relative;
	top: -1px;
	left: 2px;
	font-family: Arial Black, sans-serif;
	color: #FCFFF5;
	background-color: #3E606F;
	border: none;
	border-radius: 3px;
	display: inline-block;
}

.currentState:focus{
	outline: none;
}

#submit{
	height: 39px;
	margin-right: 5px;
	position: relative;
	top:14px;
	left:5px;
}

#submit:focus{
	outline: none;
}

@keyframes cityMove {
	0% {top: 0vh;}
 	100% {top: 2vh;}
}
.city{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	animation: cityMove 3s infinite alternate;
}

@keyframes cloudMove {
	0% {left: 42vw; top: 33vh;}
 	100% {left: 45vw; top: 33vh;}
}
.cloud {
	z-index: 100;
	top: 33vh;
	left: 0px;
	position: absolute;
	animation: cloudMove 3s infinite alternate;
}